<div class="login">
    <div class="login_inner">
        <div class="login_inner__card">
            <form>
                <div class="form-item">
                    Email
                    <input type="text">
                </div>
                <div class="form-item">
                    Password
                    <input type="password">
                </div>
                <div class="login_button">Log in</div>
                <div class="signup"><div routerLink='/signup'>Dont have an account?</div></div>
            </form>
        </div>
    </div>
</div>