.qc {
    padding: 1.5rem 0;
}
.qc_avatar img {
    width: 50px;
}
.qc_author {
    padding-bottom: 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-gap: 0.5rem;
}
.qc_author__status {
    font-size: 14px;
    margin-top: -5px;
    color: #787878;
}
.qc_title {
    font-size: 24px;
    margin-bottom: 0.5rem;
}
.qc_likes {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    grid-gap: 0.5rem;
    color: #787878;
    font-size: 14px;
    margin-top: 1rem;
}
.qc_likes i {
    color: red;
}
.as_ans {
    display: grid;
    padding-bottom: 1rem;
}
.as_button {
    cursor: pointer;
    background: #0056AC;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    color: #fff;
    font-weight: bolder;
}
.ans_item {
    padding: 2px;
    border: 1px solid #868686;
}
.answers {
    display: grid;
    grid-gap: 1rem;
}