<div class="signup">
    <div class="signup_inner">
        <div class="signup_inner__card">
            <form>
                <div class="form-item">
                    Name
                    <input type="text">
                </div>
                <div class="form-item">
                    Email
                    <input type="text">
                </div>
                <div class="form-item">
                    Password
                    <input type="password">
                </div>
                <div class="form-item">
                    Confirm Password
                    <input type="password">
                </div>
                <div class="signup_button">Sign up</div>
                <div class="login"><div routerLink='/login'>Already have account?</div></div>
            </form>
        </div>
    </div>
</div>